*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.items ul li{
    padding-left: 30px;
}
.nav-item a{
    margin-left: 30px;
}
ul li a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: orange;
}
.nav-icon{
    padding: 30px 20px;
    border: 1px solid white;
    height: 100%;
    text-align: center;
}
#services .service-box{
    margin: auto;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
}
#services i{
    margin: 0 auto;
    color: rgb(12, 3, 3);
    background: orange;
    font-size: 28px;
}
#call-to-action{
    background: url(images/cta-bg.jpg);
    background-size: cover;
    overflow: hidden;
}
.title h5::after{
    content: "";
    width: 100px;
    height: 2px;
    display: inline-block;
    background: orange;
    margin: 4px 10px;
}
.info-links img{
    font-size:1.4rem;
    height: 40px;
    line-height: 40px;
    width: 40px;
}
.btn-css{
    background: orange;
}
ul{
    list-style-type: none;
}
span{
    color: orange;
}
.footer-links li{
    margin-bottom: 10px;
}
i{
    padding-right: 2px;
    color: orange;
    font-size: 16px;
    line-height: 1;
}
.footer-bottom{
    background: black;
    padding: 12px;

}